* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-options {
    background-color: var(--background-color);
    height: auto;
}

/*ESTILOS PARA LA PRIMERA FILA*/
.info-user,
.accounts,
.option-turn,
.option-store,
.promotions,
.contact {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.title-name{
    color: var(--secondary-color);
}

.date{
    color:#757575;
    font-size: 14px;
}

/*ESTILOS PARA LA SEGUNDA FILA*/
.title-accounts {
    color: #757575;
}

.all-accounts{
    text-align: end;
    color: var(--secondary-color);
}

.purple-stripe {
    height: 15px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--secondary-color);
}

.card{
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.card-body{
    padding: 0px 20px;
    color: #757575;
}

.money{
    color: #c58fc5;
}

.manage{
    text-decoration: none;
    color:  var(--secondary-color);
}

/*ESTILOS PARA LAS OPCIONES DE TURNO Y TIENDA*/
.sub-options{
    justify-content: space-between;
    color: #757575;
}

.option-turn,
.option-store{
    width: 49%;
}

.container-icon{
    font-size: 27px;
    text-align: center;
}

.view-turn{
    color:  var(--secondary-color);
    text-align: end;
}

.description{
    font-size: 15px;
}

/*ESTILOS PARA LA PUBLICIDAD*/
.rounded-custom{
    border-radius: 10px;
}

/*ESTILOS PARA PUBLICIDAD LATERAL*/
.promotions,
.contact{
    color: #757575;
    width: 99%;
}

.contact{
    font-size: 12.5px;
}

.promotions img{
    width: 65%;
}

.contact b{
    color: var(--secondary-color);
}