<body>
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <h2 class="text-center mb-4">Registro de Usuario</h2>
            <form [formGroup]="registerForm" (ngSubmit)="registerNewUser()">
                <div class="mb-3">
                    <label class="form-label"><b>Número de cuenta</b></label>
                    <input type="text" class="form-control form-control-lg fs-6" formControlName="account_number">
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Nombre de usuario</b></label>
                    <input type="text" class="form-control form-control-lg fs-6" formControlName="user_name">
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Provincia</b></label>
                    <input type="text" class="form-control form-control-lg fs-6" formControlName="province">
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Ciudad</b></label>
                    <input type="text" class="form-control form-control-lg fs-6" formControlName="city">
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Parroquia</b></label>
                    <input type="text" class="form-control form-control-lg fs-6" formControlName="parish">
                </div>
                <div class="mb-3">
                    <label class="form-label"><b>Saldo</b></label>
                    <input type="text" class="form-control form-control-lg fs-6" formControlName="balance">
                </div>
                <button class="btn btn-primary btn-lg" style="padding: 5px 10px;">Registrar</button>
            </form>
        </div>
    </div>
</body>